/* Ana konteyner için stiller */
.body {
  width: 300px; 
  margin: 20px 10px; 
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
  transition: transform 0.3s ease; 
}

.body:hover {
  transform: translateY(-5px); 
}

/* Resim için stiller */
.sizes {
  width: 100%; 
  height: 400px; 
  object-fit: cover; 
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px; 
}

/* Kart gövdesi için stiller */
.card-body {
  padding: 20px; 
}

/* Kart başlığı için stiller */
.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Kart metni için stiller */
.card-text {
  font-size: 16px; 
  color: #666; 
  margin-bottom: 15px; 
}

/* Buton için stiller */
.btnclick {
  display: block; 
  width: 100%; 
  background-color: #d3d3d3; 
  color: black; 
  border: none; 
  border-radius: 0; 
  padding: 10px 0; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.btnclick:hover {
  background-color: #c0c0c0; 
}
.btnclick:active {
  background-color: #c0c0c0 !important; 
}
.btnclick:hover {
  background-color: #c0c0c0; 
}
