/* Ana konteyner için stiller */
.shrtBodyCard {
    width: 300px; 
    margin: 20px 10px; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    transition: transform 0.3s ease; 
  }
  
  .shrtBodyCard:hover {
    transform: translateY(-5px); 
  }
  
  /* Resim için stiller */
  .shrtSizes {
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
  }
  
  /* Kart gövdesi için stiller */
  .shrtCardBody {
    padding: 20px; 
  }
  
  /* Kart başlığı için stiller */
  .shrtCardTitle {
    font-size: 18px; 
    margin-bottom: 10px; 
  }
  
  /* Kart metni için stiller */
  .shrtCardText{
    font-size: 16px; 
    color: #666; 
    margin-bottom: 15px;
  }
  
  /* Buton için stiller */
  .btn-primary {
    display: block; 
    width: 100%;
    background-color: #d3d3d3; 
    color: black; 
    border: none; 
    border-radius: 0; 
    padding: 10px 0; 
    font-size: 16px; 
    cursor: pointer !important; 
    transition: background-color 0.3s ease; 
  }
  
  .btn-primary:hover {
    background-color: #c0c0c0; 
  }
  .btn-primary:active {
    background-color: #c0c0c0 !important; 
  }
  .btn-primary:target {
    background-color: #c0c0c0; 
  }
  
  