/* Navbar */
.navbar {
    background-color: #f8f9fa; 
    padding: 20px 0; 
  }
  
  .navbar-brand {
    font-size: 2rem; 
    color: #343a40; 
    font-weight: bold; 
  }
  
  .navbar-nav .nav-link {
    font-size: 1.2rem; 
    color: #6c757d; 
    font-weight: bold; 
    transition: color 0.3s; 
  }
  
  .navbar-nav .nav-link:hover {
    color: #c0c0c0; 
  }
  

  .dropdown-menu {
    background-color: #f8f9fa; 
  }
  
  .dropdown-item {
    font-size: 1.1rem; 
  }
  
  .dropdown-item:hover {
    background-color: #e9ecef; 
  }
  

  .navbar-toggler {
    border: none; 
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* Navbar toggler ikonu */
  }
  
  @media (max-width: 992px) {
    .navbar-nav {
      margin-top: 10px; 
    }
  }  