/* Navbar */
.navbar {
    background-color: #f8f9fa; 
    padding: 20px 0; 
  }
  
  .navbar-brand {
    font-size: 2rem; 
    color: #343a40; 
    font-weight: bold; 
  }
  
  .navbar-nav .nav-link {
    font-size: 1.2rem; 
    color: #6c757d; 
    font-weight: bold; 
    transition: color 0.3s; 
  }
  
  .navbar-nav .nav-link:hover {
    color: #c0c0c0; 
  }
  

  .dropdown-menu {
    background-color: #f8f9fa; 
    text-decoration: none; 
    position: relative; 
    overflow: hidden; 
  }
  
  .dropdown-item {
    font-size: 1.1rem; 
    text-decoration: none; 
    position: relative; 
    overflow: hidden; 
  }
  
  .dropdown-menu .dropdown-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out; 
    border: 0 0 0 0;
  }

  .dropdown-menu .dropdown-item:hover::after {
    width: 100%; 
  }
  
  .dropdown-item:hover {
    color: #c0c0c0;
  }

  .dropdown-item:target{
    background-color: #c0c0c0;
  }

  .navbar-toggler {
    border: none; 
  }

  .navbar-nav .nav-link {
    position: relative; 
  }
  
  .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out; 
    border: 0 0 0 0;
  }
  
  .navbar-nav .nav-link:hover::after {
    width: 100%; 
  }
  
  @media (max-width: 992px) {
    .navbar-nav {
      margin-top: 10px; 
    }
  }  